#mei{
	a{
		color:black;
	}
	h2{
		color:black;
		font-size:26px;
		font-weight:normal;
	}
	h3{
		color:black;
		text-align:right;
		span{
			padding-right:16px;
			background: url(../img/youjiantou.png) no-repeat 50px;
			height:50px;
			line-height:50px;
		}
		
	}
	font-family:'微软雅黑';
	min-width:1000px;
	.header{
		.top{
		background:#f2f2f2;
		color:black;
			.container{
				overflow:hidden;		
				>ul:first-of-type{
					background: url(../img/zhuceyouli.gif) -2px 4px no-repeat;
					float:left;
					li:last-of-type a{
						padding-left:20px;
					}
					>li{
						float:left;
						a{						
							display:block;
							height:30px;
							line-height:30px;
													
							span{
								border-right:2px solid black;
								padding:0 20px
							}
						}
					}				
				}
				ul:last-of-type{
					margin-right:80px;
					float:right;
					li:last-of-type a{
						padding-left:20px;					
							background: url(../img/weibo.png) 20px 2px no-repeat;
							span{
								border-right:none;
							}
							
						}
					li{
						float:left;
						a{						
							display:block;
							height:30px;
							line-height:30px;												
							span{
								border-right:2px solid black;
								padding:0 20px
							}
						}
					}			
				}
			}
		}
		.logo{
			background:white;			
			.container{
				height:90px;	
				position:relative;
				#search{
					display:none;
					position:absolute;
					width: 350px;
					border:1px solid black;
					right:42px;
					top: 76px;
					z-index:1000;
					background:white;
					li{
						text-indent:12px;
						color:black;
						font-size:14px;
						height: 37px;
						line-height:37px;
					}
				}
				
				.pic1{
					background: url(../img/jingling.png) 192px 300px;
					width:192px;
					height:90px;
					float:left;
				}
				.pic2{
					background: url(../img/jingling.png) 174px -70px;
					width:174px;
					height:90px;
					float:left;
				}
				input:first-of-type{
					border:1px solid black;
					margin-top:40px;
					margin-left:240px;
					float:left;
					width: 350px;
					height: 35px;
					text-indent:12px;
				}
				input:last-of-type{
					margin-top:40px;
					float:left;
					width: 37px;
					height: 37px;
					border:1px solid black;
					background:black url(../img/fangdajing.png) 2px 6px no-repeat;
				}								
			}
		}
		.navigation{
			background:black;
			.container{
				height:40px;
				>ul:first-of-type{
					float:left;
					>li{
						float:left;
						position:relative;
						
						&:hover .list{
							display:block;
						}
						>a{
							display:block;
							height:40px;
							width:80px;
							line-height:40px;
							color:white;
							font-size:14px;
						&:hover{
							color:red;
						}	

						}
						.list{
							display:none;
							position:absolute;
							top:40px;
							left: 0px;
							width:460px;
							padding:12px;
							background:white;
							color:#666;
							border:1px solid #ccc;

							h4{
								font-weight:bolder;
								color:red;
								padding-bottom:10px;
								border-bottom:1px solid #ccc;
							}
							a{
								color:black;
							}
							.left{
								font-size:16px;
								display:inline-block;
								width: 320px;
								height: 220px;
								li{
									margin-top:10px;
								}
							}
							.right{
								font-size:14px;
								text-align:center;
								margin-left:12px;
								width:98px;
								display:inline-block;
								
							}
						}
					}
				}
				>ul:last-of-type{
					margin-right:20px;
					float:right;
					>li{
						float:left;
						a{
							display:block;
							height:30px;
							line-height:39px;
						}
					}
					li:nth-of-type(2){
						span{
							border-right:1px solid white;
						}
					}
					li:nth-of-type(3){
						a{
							color:white;
							padding-left:10px;
							span{							
								font-size:14px;
								padding-left:2px;
							}
						}
						
					}
				}
			}
		}
	}
	.main{
		
		margin-top:40px;
		.bag{
			padding-bottom:10px;
			border-bottom:1px solid #ccc;
			span:first-of-type{
				font-weight:bolder;
				font-size:26px;
				vertical-align:text-bottom;
				color:black;
			}
			span:last-of-type{

				float:right;
			}
		}
		.coudan{
			margin-top:16px;
			background:#fbe9e9;
			line-height:40px;
			height: 40px;
			text-indent:12px;
			color:red;
			a{
				color:black;
			}
		}
		.checkbox{
			font-size:0;
			margin-top:10px;
			>input{
				width: 160px;
				height: 50px;
				background:white;
				font-size:18px;
				color:black;
			}
		}
		.form1{
			font-size:16px;
			color:black;
			tr{
				height: 60px;
			}
			tr:first-of-type{
				background:#eee;
				th{
					width: 108px;
				}
				th:first-of-type{
					input{
						width: 20px;
						height: 20px;
						margin-top:-6px;
						margin-right:6px;
					}
						padding-right:46px;

				}
				th:nth-of-type(2){
					width: 250px;
					text-align:left;
				}
			}
			tr:nth-of-type(n+1){
				img{
					margin:10px 0;
				}
				th:nth-of-type(1){
					input{
						width: 20px;
						height: 20px;
						margin-right:8px;
					}
					
				}
				
					input.del{
						width: 80px;
						height: 30px;
						border: 1px solid #ccc;
						background:white;
					}
				
			}
			tr:last-of-type{
				background:#eee;
				th:nth-of-type(1){
					padding-right:46px;
				}
				th:nth-of-type(2){
					text-align:left;
				}
				th:nth-of-type(3){
					input{
						width: 80px;
						height: 30px;
						border: 1px solid #ccc;
						background:white;
					}
				}
				th:nth-of-type(5){
					text-align:left;
					width: 160px;
				}
			}
		}		
	}



	.bottom{
		margin-top:70px;
		background: #f2f2f2;
		padding-top: 30px;
		padding-bottom: 20px;
		ul:first-of-type{
			text-align:center;
			width: 990px;
			margin: 0 auto;
			overflow: hidden;
			li{
				float: left;
				a{
					display: block;
					width: 164px;
					color:black;
					border-right:1px solid black;
					height:60px;
					line-height:30px;
					font-size:12px;

				}
			}
			li:nth-of-type(1){
				a{
					background: url(../img/jingling.png) -152px -148px no-repeat;
				}
				:hover{
					background: url(../img/jingling.png) -152px -266px no-repeat;
				}
			}
			li:nth-of-type(2){
				a{
					background: url(../img/jingling.png) -543px -104px no-repeat;
				}
				:hover{
					background: url(../img/jingling.png) -543px 7px no-repeat;
				}
			}
			li:nth-of-type(3){
				a{
					background: url(../img/jingling.png) -152px -386px no-repeat;
				}
				:hover{
					background: url(../img/jingling.png) -303px -233px no-repeat;
				}
			}
			li:nth-of-type(4){
				a{
					background: url(../img/jingling.png) -416px 6px no-repeat;
				}
				:hover{
					background: url(../img/jingling.png) -416px -106px no-repeat;
				}
			}
			li:nth-of-type(5){
				a{
					background: url(../img/jingling.png) -302px -346px no-repeat;
				}
				:hover{
					background: url(../img/jingling.png) -302px -459px no-repeat;
				}
			}
			li:last-of-type{
				a{
					background: url(../img/jingling.png) -300px -114px no-repeat;
					border-right:none;
				}
				:hover{
					background: url(../img/jingling.png) -300px 3px no-repeat;
					border-right:none;
				}
			}
		}
		ul:last-of-type{
			overflow:hidden;
			margin:20px auto;
			text-align:center;
			width:540px;
			li{
				float:left;
				a{
					display:block;
					height:14px;
					line-height:14px;
					span{
						padding: 0 27px;
						color:black;
					}
				}
				:last-of-type{
					padding-right:0;
				}

			}
		
		}
		p{
			margin-bottom: 20px;
			text-align:center;
		}
		img{
			display:block;
			margin: 4px auto 2px;
		}
	}
}