@charset "UTF-8";
#mei .header .container {
  overflow: hidden;
}

#mei .header .container .pic1 {
  background: url(../img/jingling.png) 192px 300px;
  width: 192px;
  height: 90px;
  float: left;
}

#mei .header .container .pic2 {
  background: url(../img/jingling.png) 174px -70px;
  width: 174px;
  height: 90px;
  float: left;
}

#mei .banner {
  height: 800px;
  font-family: '微软雅黑';
  color: black;
  min-widht: 1000px;
  background: url(../img/resgite.jpg) -280px 0px no-repeat;
  background-size: auto 800px;
  position: relative;
}

#mei .banner form {
  position: absolute;
  top: 60px;
  right: 212px;
  width: 350px;
  background: white;
  padding: 25px;
  box-sizing: border-box;
}

#mei .banner form h2 {
  text-align: center;
}

#mei .banner form p:first-of-type {
  margin-top: 22px;
  text-align: center;
}

#mei .banner form p:first-of-type span {
  color: red;
}

#mei .banner form input#phone {
  width: 300px;
  height: 44px;
  margin-top: 10px;
  border: 1px solid #ccc;
  text-indent: 4px;
}

#mei .banner form p:nth-of-type(2) {
  height: 0;
  overflow: hidden;
  color: #db2828;
  text-align: left;
}

#mei .banner form p:nth-of-type(3) {
  height: 0;
  overflow: hidden;
  color: #db2828;
  text-align: left;
}

#mei .banner form p:nth-of-type(4) {
  height: 0;
  overflow: hidden;
  color: #db2828;
  text-align: left;
  margin-bottom: 10px;
}

#mei .banner form input:nth-of-type(2) {
  width: 190px;
  height: 44px;
  margin-top: 14px;
  border: 1px solid #ccc;
  text-indent: 4px;
  margin-right: 10px;
}

#mei .banner form #v_container {
  width: 94px;
  height: 46px;
  display: inline-block;
  vertical-align: bottom;
}

#mei .banner form input:nth-of-type(3) {
  width: 190px;
  height: 44px;
  margin-top: 14px;
  border: 1px solid #ccc;
  text-indent: 4px;
  margin-right: 10px;
}

#mei .banner form input:nth-of-type(4) {
  width: 94px;
  height: 48px;
  margin-top: 14px;
  border: 1px solid #ccc;
  text-indent: 4px;
  background: #db2828;
  color: white;
}

#mei .banner form .psw {
  position: relative;
  margin-bottom: 2px;
}

#mei .banner form .psw input {
  width: 300px;
  height: 44px;
  margin-top: 14px;
  border: 1px solid #ccc;
  text-indent: 4px;
  margin-right: 10px;
}

#mei .banner form .psw div {
  position: absolute;
  bottom: 12px;
  right: 0px;
  width: 40px;
  height: 20px;
  background: url(../img/see.png) no-repeat;
}

#mei .banner form .psw div:hover {
  cursor: pointer;
}

#mei .banner form span a {
  color: black;
}

#mei .banner form input.zhuce {
  width: 300px;
  height: 48px;
  font-size: 16px;
  text-indent: 4px;
  margin-right: 10px;
  margin-top: 4px;
}

#mei .banner form p:last-of-type {
  text-align: right;
  margin-top: 14px;
}

#mei .banner form p:last-of-type a {
  background: url(../img/youjiantou.png) 48px no-repeat;
  color: red;
  padding-right: 10px;
}

.bottom {
  background: #f2f2f2;
  padding-top: 30px;
  padding-bottom: 20px;
}

.bottom ul:first-of-type {
  text-align: center;
  width: 990px;
  margin: 0 auto;
  overflow: hidden;
}

.bottom ul:first-of-type li {
  float: left;
}

.bottom ul:first-of-type li a {
  display: block;
  width: 164px;
  color: black;
  border-right: 1px solid black;
  height: 60px;
  line-height: 30px;
  font-size: 12px;
}

.bottom ul:first-of-type li:nth-of-type(1) a {
  background: url(../img/jingling.png) -152px -148px no-repeat;
}

.bottom ul:first-of-type li:nth-of-type(1) :hover {
  background: url(../img/jingling.png) -152px -266px no-repeat;
}

.bottom ul:first-of-type li:nth-of-type(2) a {
  background: url(../img/jingling.png) -543px -104px no-repeat;
}

.bottom ul:first-of-type li:nth-of-type(2) :hover {
  background: url(../img/jingling.png) -543px 7px no-repeat;
}

.bottom ul:first-of-type li:nth-of-type(3) a {
  background: url(../img/jingling.png) -152px -386px no-repeat;
}

.bottom ul:first-of-type li:nth-of-type(3) :hover {
  background: url(../img/jingling.png) -303px -233px no-repeat;
}

.bottom ul:first-of-type li:nth-of-type(4) a {
  background: url(../img/jingling.png) -416px 6px no-repeat;
}

.bottom ul:first-of-type li:nth-of-type(4) :hover {
  background: url(../img/jingling.png) -416px -106px no-repeat;
}

.bottom ul:first-of-type li:nth-of-type(5) a {
  background: url(../img/jingling.png) -302px -346px no-repeat;
}

.bottom ul:first-of-type li:nth-of-type(5) :hover {
  background: url(../img/jingling.png) -302px -459px no-repeat;
}

.bottom ul:first-of-type li:last-of-type a {
  background: url(../img/jingling.png) -300px -114px no-repeat;
  border-right: none;
}

.bottom ul:first-of-type li:last-of-type :hover {
  background: url(../img/jingling.png) -300px 3px no-repeat;
  border-right: none;
}

.bottom ul:last-of-type {
  overflow: hidden;
  margin: 20px auto;
  text-align: center;
  width: 540px;
}

.bottom ul:last-of-type li {
  float: left;
}

.bottom ul:last-of-type li a {
  display: block;
  height: 14px;
  line-height: 14px;
}

.bottom ul:last-of-type li a span {
  padding: 0 27px;
  color: black;
}

.bottom ul:last-of-type li :last-of-type {
  padding-right: 0;
}

.bottom p {
  margin-bottom: 20px;
  text-align: center;
}

.bottom img {
  display: block;
  margin: 4px auto 2px;
}
